html.shinybox {
  overflow: hidden!important;
}
#shinybox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(13, 13, 13, 0.6);
}
@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}
#shinybox-overlay img {
  border: none!important;
}
#shinybox-overlay .shinybox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}
#shinybox-overlay .shinybox-slider.rightSpring {
  -webkit-animation: rightSpring 0.3s;
          animation: rightSpring 0.3s;
}
#shinybox-overlay .shinybox-slider.leftSpring {
  -webkit-animation: leftSpring 0.3s;
          animation: leftSpring 0.3s;
}
#shinybox-overlay .shinybox-slider .slide {
  height: 100%;
  width: 98%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
  margin: 0 1%;
}
#shinybox-overlay .shinybox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#shinybox-overlay .shinybox-slider .slide img,
#shinybox-overlay .shinybox-slider .slide .shinybox-video-container,
#shinybox-overlay .shinybox-slider .slide .shinybox-pdf-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#shinybox-overlay .shinybox-slider .slide .shinybox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}
#shinybox-overlay .shinybox-slider .slide .shinybox-video-container .shinybox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#shinybox-overlay .shinybox-slider .slide .shinybox-video-container .shinybox-video iframe {
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
}
#shinybox-overlay .shinybox-slider .slide .shinybox-pdf-container {
  background: none;
  max-width: 1140px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#shinybox-overlay .shinybox-slider .slide .shinybox-pdf-container .shinybox-pdf {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#shinybox-overlay .shinybox-slider .slide .shinybox-pdf-container .shinybox-pdf iframe {
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
}
#shinybox-overlay .shinybox-slider .loading {
  background: url(//webeditor-appspod1-cph3.one.com/img/loader.gif) no-repeat center center;
  height: 31px;
  width: 31px;
  margin: auto;
}
#shinybox-overlay .shinybox-bottom,
#shinybox-overlay .shinybox-top {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  background-image: linear-gradient(#0d0d0d, #000000);
  opacity: 0.95;
}
#shinybox-overlay .shinybox-top {
  top: -50px;
}
#shinybox-overlay .shinybox-top.visible-bars {
  top: 0;
}
#shinybox-overlay .shinybox-top.force-visible-bars {
  top: 0!important;
}
#shinybox-overlay .shinybox-bottom {
  text-align: right;
  bottom: -50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#shinybox-overlay .shinybox-bottom.visible-bars {
  bottom: 0;
}
#shinybox-overlay .shinybox-bottom.force-visible-bars {
  bottom: 0!important;
}
#shinybox-overlay .shinybox-prev,
#shinybox-overlay .shinybox-next,
#shinybox-overlay .shinybox-close {
  background-image: url(//webeditor-appspod1-cph3.one.com/img/icons.svg);
  background-repeat: no-repeat;
  border: none!important;
  text-decoration: none!important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
#shinybox-overlay .shinybox-close {
  background-position: 15px 12px;
  float: left;
}
#shinybox-overlay .shinybox-prev {
  background-position: -32px 13px;
}
#shinybox-overlay .shinybox-prev.disabled {
  opacity: 0.3;
}
#shinybox-overlay .shinybox-next {
  background-position: -78px 13px;
}
#shinybox-overlay .shinybox-next.disabled {
  opacity: 0.3;
}
#shinybox-overlay .shinybox-caption {
  color: white!important;
  font-size: 15px;
  line-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}.shinybox-prev, .shinybox-next, .shinybox-close {
    background-image: url(//bombye.de/onewebstatic/5d6e0255a7.svg) !important;
}
.shinybox-overlay .shinybox-slider .loading {
    background: url(//bombye.de/onewebstatic/074175b89d.gif) no-repeat center center !important;
}
#shinybox-overlay .shinybox-bottom {
    text-align: center;
}.mm {
    position:relative;
    background-color:#fff;
    border-bottom:#bbb 1px solid;
    box-shadow:0px 1px 3px rgba(0,0,0,0.3);
    min-height:49px;
}
#mmt {
    padding:16px 83px 15px 20px;
    color:#4d4d4d;
    font-weight:bold;
    font-family:helvetica, arial, sans-serif;
    font-size:18px;
    line-height:18px;
    cursor:pointer;
}
#mmb {
    position:absolute;
    width:63px;
    height:49px;
    margin-right: 5px;
    top:0px;
    right:0px;
    cursor:pointer;
    background:transparent url(//bombye.de/onewebstatic/59900cd166.png) no-repeat center center;
}
#mmb.on {
    background-image:url(//bombye.de/onewebstatic/5fef757c94.png);
}
#mm {
    position:absolute;
    background-color:#fff;
    border-right:#999 1px solid;
    box-shadow:2px 0px 9px rgba(0,0,0,0.5);
    min-height:52px;
    padding-top:10px;
    z-index:11;
    top:-10010px;
    left:-100%;
    right:120%;
}
#mm.off {
    animation: mmoff 0.35s;
    -moz-animation: mmoff 0.35s;
    -webkit-animation: mmoff 0.35s;
    -o-animation: mmoff 0.35s;
}
#mm.on {
    display:block;
    top:-10px;
    left:0px;
    right:63px;
    animation: mmon 0.35s;
    -moz-animation: mmon 0.35s;
    -webkit-animation: mmon 0.35s;
    -o-animation: mmon 0.35s;
}
#mm li {
    display:block;
    position:relative;
}
#mm a {
    display:block;
    padding:16px 56px 15px 20px;
    border-bottom:#dedede 1px solid;
    color:#4d4d4d;
    text-decoration:none;
    font-family:helvetica, arial, sans-serif;
    font-size:18px;
    line-height:18px;
    background-color:#fff;
    word-wrap: break-word;
}
#mm div {
    position:absolute;
    top:0px;
    right:0px;
    width:56px;
    height:49px;
    background:transparent url(//bombye.de/onewebstatic/d046708a76.png) no-repeat center center;
    cursor:pointer;
}
#mm a.current {
    background-color:#f9f9f9;
    font-weight:bold;
}
#mm li li a {
    padding-left:40px;
    background-repeat:no-repeat;
    background-position:20px 16px;
    background-image:url(//bombye.de/onewebstatic/4f1fe5daa7.png);
}
#mm li li a.current {
    background-image:url(//bombye.de/onewebstatic/b1b16c7821.png);
}
#mm li li li a { padding-left:60px; background-position:40px 16px; }
#mm li li li li a { padding-left:80px; background-position:60px 16px; }
#mm li li li li li a { padding-left:100px; background-position:80px 16px; }
#mm li ul {
    display:none;
}
#mm .expanded>ul {
    display:block;
}
#mm .expanded>div {
    background-image:url(//bombye.de/onewebstatic/c6aac071a7.png);
}

@keyframes mmon { 0% {left:-100%;right:120%;top:-10010px;} 1% {top:-10px;} 100% {left:0px;right:63px;} }
@-moz-keyframes mmon { 0% {left:-90%;right:120%;top:-10010px;} 1% {top:-10px;} 100% {left:0px;right:63px;} }
@-webkit-keyframes mmon { 0% {left:-90%;right:120%;top:-10010px;} 1% {top:-10px;} 100% {left:0px;right:63px;} }
@-o-keyframes mmon { 0% {left:-90%;right:120%;top:-10010px;} 1% {top:-10px;} 100% {left:0px;right:63px;} }

@keyframes mmoff { 0% {left:0px;right:63px;top:-10px;} 99% {left:-100%;right:120%;top:-10px;} 100% {top:-10010px;} }
@-moz-keyframes mmoff { 0% {left:0px;right:63px;top:-10px;} 99% {left:-100%;right:120%;top:-10px;} 100% {top:-10000px;} }
@-webkit-keyframes mmoff { 0% {left:0px;right:63px;top:-10px;} 99% {left:-100%;right:120%;top:-10px;} 100% {top:-10010px;} }
@-o-keyframes mmoff { 0% {left:0px;right:63px;top:-10px;} 99% {left:-100%;right:120%;top:-10px;} 100% {top:-10010px;} }